.container {
    display: flex;
    width: 100%;
}

.sidebarContainer {
    width: fit-content;
}

.mainContentContainer {
    width: 100%;
    padding: 10px;
    background: #f3f1ea;
}

.noDeposists {
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.qrButton {
    z-index: 999;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
